<div class="sidebar-about">
    <h1 class="brand">
        {{ if .Site.Params.brand_image }}
            <a href="{{ .Site.BaseURL }}">
                <img src="hhttps://avatars.githubusercontent.com/u/139021578?s=400&u=31f0a9bbd0852e35f4a77896a38aa82b07cebd2d&v=4" >
            </a>
        {{ end }}
        {{ if .Site.Params.brand }}
            <a href="{{ .Site.BaseURL }}">
                <h1>{{ .Site.Params.brand }}</h1>
            </a>
        {{ end }}
    </h1>
    <p class="lead">
    {{ with .Site.Params.description }}{{.}}{{end}}
    </p>
</div>
